name: Build on Commit
on:
  push:
    branches: [ "main" ]
    paths: [ "FeatherM0_RFM9x/*" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "FeatherM0_RFM9x/*" ]
env:
  # It's convenient to set variables for values used multiple times in the workflow
  SKETCHES_REPORTS_PATH: sketches-reports
  SKETCHES_REPORTS_ARTIFACT_NAME: sketches-reports
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Compile Arduino Sketches
      uses: arduino/compile-sketches@v1.1.0
      with:
        platforms: |
          - name: "adafruit:samd"
            source-url: "https://adafruit.github.io/arduino-board-index/package_adafruit_index.json"
        fqbn: adafruit:samd:adafruit_feather_m0
        libraries: |
          - name: "RadioHead"
        verbose: true
        enable-warnings-report: true
        sketch-paths: |
          - FeatherM0_RFM9x
        sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}
        enable-deltas-report: true
        github-token: ${{ secrets.GITHUBTOKEN }}
    - uses: actions/upload-artifact@v3
      with:
        name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
        path: ${{ env.SKETCHES_REPORTS_PATH }}
  # When using a matrix to compile for multiple boards, it's necessary to use a separate job for the deltas report
  report:
    needs: build  # Wait for the compile job to finish to get the data for the report
    #if: github.event_name == 'pull_request' # Only run the job when the workflow is triggered by a pull request
    runs-on: ubuntu-latest
    steps:
      # This step is needed to get the size data produced by the compile jobs
      - name: Download sketches reports artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}

      - uses: arduino/report-size-deltas@v1
        with:
          sketches-reports-source: ${{ env.SKETCHES_REPORTS_PATH }}
