name: Build on Commit Teensy
on:
  push:
    branches: [ "main" ]
    paths: [ "Teensy_4.1/*" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "Teensy_4.1/*" ]
env:
  # It's convenient to set variables for values used multiple times in the workflow
  SKETCHES_REPORTS_PATH: sketches-reports
  SKETCHES_REPORTS_ARTIFACT_NAME: sketches-reports
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Compile Arduino Sketches
      #uses: arduino/compile-sketches@v1.1.0
      uses: andrewmcdan/arduino-compile-sketches
      with:
        platforms: |
          - name: "teensy:avr"
            source-url: "https://www.pjrc.com/teensy/package_teensy_index.json"
        fqbn: teensy:avr:teensy40
        libraries: |
          - name: "Adafruit BusIO"
          - name: "Adafruit GFX Library"
          - name: "Adafruit SSD1306"
          - name: "Adafruit GPS Library"
          - name: "Encoder"
          - name: "Adafruit BluefruitLE nRF51"
        verbose: true
        enable-warnings-report: true
        sketch-paths: |
          - Teensy_4.1
        sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}
        enable-deltas-report: true
        github-token: ${{ secrets.GITHUBTOKEN }}
    - uses: actions/upload-artifact@v3
      with:
        name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
        path: ${{ env.SKETCHES_REPORTS_PATH }}